.Button {
  background-color: var(--df-green);
  border: 4px outset var(--df-green);
  border-radius: 8px;
  padding: 8px 16px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;

  &:active {
    border-style: inset;
  }
}
