.Button {
  --button-color: var(--df-green);

  background-color: var(--button-color);
  border-radius: 6px;
  border: 4px outset var(--button-color);
  padding: 8px 16px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;

  text-transform: uppercase;
  font-weight: bold;
  color: #111;

  &:active,
  &.active {
    border-style: inset;
    --button-color: var(--df-green-light);
  }

  &:hover {
    --button-color: var(--df-green-light);
  }

  &.small {
    font-size: 14px;
    padding: 4px 8px;
  }

  &.disabled {
    background-color: #888;
    border-color: #888;
    opacity: 0.8;
    /* pointer-events: none; */
    cursor: not-allowed;
  }
}
