.App {
  --df-green: #10f898;
  --df-quality-common: #c4c4c2;
  /* uncommon, rare, epic, legendary, exotic */
  /* green, blue, purple, orange, red */
  --df-quality-uncommon: #2aca96;
  --df-quality-rare: #589fdc;
  --df-quality-epic: #9a71dc;
  --df-quality-legendary: #d0814d;
  --df-quality-exotic: #da5758;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  height: 100%;
  display: flex;
  gap: 1em;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    padding: 0;
  }

  .column {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
  }

  .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
    margin-bottom: 2em;
  }

  .slotRow {
    flex-flow: row wrap;
    justify-content: center;
  }

  .slotTitles {
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: center;
    justify-content: center;
  }

  .slotTitle {
    width: 200px;
    text-align: center;
    color: #ddd;
    font-size: 14px;
    text-transform: capitalize;
  }

  .mobileOnly {
    @media (min-width: 800px) {
      display: none;
    }
  }
}
