.App {
  --df-green: #10f898;
  --df-green-light: #49ce98;
  --df-quality-common: #c4c4c2;
  --df-grey: var(--df-quality-common);
  /* uncommon, rare, epic, legendary, exotic */
  /* green, blue, purple, orange, red */
  --df-quality-uncommon: #2aca96;
  --df-quality-rare: #589fdc;
  --df-quality-epic: #9a71dc;
  --df-quality-legendary: #d0814d;
  --df-quality-exotic: #da5758;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  height: 100%;
  display: flex;
  gap: 1em;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    padding: 0;
  }

  .title {
    margin-bottom: 1em;
    position: relative;

    .tagLine {
      position: absolute;
      bottom: -10px;
      right: -20px;
      text-transform: uppercase;
      font-weight: bold;
      color: var(--df-green);
      text-shadow: 0 0 5px black;
      transform: translateX(50%) rotate(-9deg);
      transform-origin: center;
      text-align: center;
    }
  }

  .column {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
  }

  .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
    margin-bottom: 2em;
  }

  .slotRow {
    flex-flow: row wrap;
    justify-content: center;
  }

  .slotContainer {
    position: relative;

    .slotButtonsTop {
      position: absolute;
      top: 18px;
      display: flex;
      flex-flow: row nowrap;
      gap: 12px;
    }

    .slotButtons {
      position: absolute;
      bottom: -18px;
      display: flex;
      flex-flow: row nowrap;
      gap: 12px;
    }
  }

  .mobileOnly {
    @media (min-width: 800px) {
      display: none;
    }
  }
}
