* {
  box-sizing: border-box;
}

html {
  font-family: system-ui;
  font-size: 16px;

  --bg-color: #181818;
  --text-color: #f0f0f0;

  body {
    background: var(--bg-color);
    background: linear-gradient(180deg, var(--bg-color), black 100%);
    color: var(--text-color);

    min-height: 1400px;
  }
}
